<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flask Docker</title>
</head>

<body>

    <div class="main-col" style="text-align: center;display: block;margin: 35px 0;width: 100%;">
        <h1 class="l1-txt1 txt-center p-b-25">
            Coming Soon
        </h1>
        <p class="m2-txt1 txt-center p-b-48">
            Our website is under construction, follow us for update now!
        </p>
        <div class="clearboth" style="clear: both;"></div>
        <img src="flask-docker.jpg" alt="Flask Python Deploy on docker" />
    </div>
</body>

</html>